body{
    background: #ffffff;
    color: #000;
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
    font-family: 'PT Sans Narrow' ,sans-serif;
    font-size: 50px;
}
h2{
    text-align: center;
    font-size: 35px;
}
h3{
    text-align: center;
    font-size: 20px;
}
button {
    align-self: center;
    width: auto;
    height: 40px;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    background: #e30922;
    min-width: auto;
    box-shadow: 2px 2px 2px #794848;
    position: relative;
    overflow: hidden;
    transition: color 0.4s ease-in-out;
}

button::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: #eb5954;
    transition: left 0.2s ease-in-out;
    z-index: 0;
    display: flex;
    align-items: center;
    gap: 8px;
}

button:hover::before {
    left: 0;
}

button:hover {
    color: white;
}

/* Assurer que le texte reste au-dessus de l'effet */
button span, i {
    position: relative;
    z-index: 1;
}
button:active {
    background: #a3061b; /* Rouge foncé */
    transform: scale(0.95); /* Effet d'enfoncement */
}

#telechargement {
    display: inline-flex; /* Utiliser flexbox pour aligner l'icône et le texte */
    align-items: center;  /* Centrer verticalement le texte et l'icône */
    padding: 10px 20px;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    background: #e30922;
    box-shadow: 2px 2px 2px #794848;
    position: relative;
    overflow: hidden;
    transition: color 0.4s ease-in-out;
}

#telechargement::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: #eb5954;
    transition: left 0.2s ease-in-out;
    z-index: 0;
}

#telechargement:hover::before {
    left: 0;
}

#telechargement:hover {
    color: white;
}

#telechargement span {
    margin-right: 8px;  /* Ajouter un espace entre le texte et l'icône */
}

#telechargement span, i {
    position: relative;
    z-index: 1;
}

#telechargement:active {
    background: #a3061b; /* Rouge foncé */
    transform: scale(0.95); /* Effet d'enfoncement */
}


img {
    width: 200px;
    height: auto;
    align-self: center;
    justify-self: center;

    clip-path: circle(50%);
}
ul > li {
    list-style: none;
    font-size: 20px;
    font-weight: bold;
}
ul > img {
    float: left;
    width: 100px;
    height: 100px;
    shape-outside: circle(55%);
}
.warning{
    color: #ff0000;
    font-weight: bold;
}













main {
    width: calc(100% - 240px);
    max-width: 680px;
    margin: 100px auto;
}

p {
    font-size: 18px;
    line-height: 28px;
    text-align: justify;
}

* {
    scroll-behavior: smooth;
}

/* Menu code starts here */

#menuToggle
{
    display: block;
    /* You can also use relative/absolute here if you want to stay on the top */
    position: fixed;
    top: 50px;
    left: 50px;

    z-index: 1;

    -webkit-user-select: none;
    user-select: none;
}

#menuToggle a
{
    text-decoration: none;
    color: #232323;

    transition: color 0.3s ease;
}

#menuToggle a:hover
{
    color: tomato;
}


#menuToggle input
{
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;

    cursor: pointer;

    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */

    -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background: #cdcdcd;
    border-radius: 3px;

    z-index: 1;

    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    opacity 0.55s ease;
}

#menuToggle span:first-child
{
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
    transform-origin: 0% 100%;
}

/*
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
    transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
    position: absolute;
    max-width: 400px;
    width: 100vw;
    max-height: 100vh;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    box-sizing: border-box;
    overflow-y: auto;
    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */

    transform-origin: 0% 0%;
    transform: translate(-100%, 0);

    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
    padding: 10px 0;
    font-size: 22px;
}

#menu li label
{
    cursor: pointer;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
    transform: none;
}
